
body {
    
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

.btn-xl {
    padding: 0.5rem 1rem;
    font-size: 2.0rem;
    line-height: 4.0rem;
    border-radius: 0.6rem;
}

.results-table {
    white-space: nowrap;
}

#timer-current {
    text-align: center;
    font-size: 38px;
}

.rider .rider-marker {
    font-size: 110%;
}

.rider .lap-time {
    float: right;
}

.rider .total-time {
    float:right;
}

.rider .lap-counter{
    font-size: 110%;
    float: right;
}

.break-above {
    margin-top: 15px;
}

.break-above-sm {
    margin-top: 5px;
}

.select-riders-form {
    width: 100%;
}
