
body {
    
}



h1 {
font-size: 28px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

#timer-current {
    text-align: center;
    font-size: 28px;
}
