
body {
    
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

.topbar {
    background-color: #f33;
    color: #fff;
}

#timer-current {
    text-align: center;
    font-size: 38px;
}

.rider .rider-marker {
    font-size: 120%;
}

.rider .lap-counter {
    float: right;
    clear: right;
}

.break-above {
    margin-top: 15px;
}

.break-above-sm {
    margin-top: 5px;
}

.select-riders-form {
    width: 100%;
}
